/node_modules
/id_rsa_pub.pem
/id_rsa_priv.pem

# Environment files
.env
.env.local

# Build outputs
dist/
build/
out/
tmp/
temp/
.cache/
.next/
.vercel/
.svelte-kit/
public/build/


# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
*.tmp
*.pem

# ESLint / Prettier caches
.eslintcache
.prettiercache
