aws_region     = "ca-central-1"
project_name   = "fitness-tracker"
environment    = "dev"
vpc_cidr       = "10.20.0.0/16"

application_domain_name = "juwonfitness.wisdomuwadiae.com"
route53_hosted_zone_id  = "Z07705643VYPNGIJPX8DD"

# Replace with the repository that contains this workflow.
github_repository = "YOUR_GITHUB_OWNER/group6-dockerized-3tier-app"
